body {
    background-color: rgb(208, 255, 239);
    padding-top: 50px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.gen-info {
    text-align: center;
}

.sum-head {
    padding-top: 50px;
}

.summ {
    text-align: justify;
}

.edu {
    padding-top: 50px;
}

.edu-exp {
    display: flex;
    justify-content: space-between;
}

.prac {
    padding-top: 50px;
}

.prac-exp {
    display: flex;
    justify-content: space-between;
}

ul li {
    margin: 5px;
}

.det {
    font-weight: bold;
}